
<app-auth-layout>
  <h3 class="text-center mb-4 text-dark">Forgot Password</h3>

  <form (ngSubmit)="onSubmit()">
    <div *ngIf="message" class="alert alert-success">{{ message }}</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

    <div class="mb-3">
      <label>Email</label>
      <input type="email" [(ngModel)]="email" name="email" class="form-control" required>
    </div>

    <button class="btn btn-warning w-100" [disabled]="loading">
      {{ loading ? 'Sending...' : 'Send Reset Link' }}
    </button>



    <div class="auth-links mt-4">
      <a routerLink="/auth/login">Back to Login</a>
    </div>
  </form>
</app-auth-layout>